<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{project.name}">Title</title>

</head>
<style layout:fragment="style">
    .ml-40px{
        margin-left: 40px;
    }

</style>
<body>
<main layout:fragment="content">
    <div class="container mt-5 ">
        <hr>
        <h2 class="font-weight-bold mt-5 mb-5 text-center" th:text="#{create.category}">Create a Category</h2>
        <span style="color: red;" th:if="${#fields.hasErrors('name')}"
              th:text="#{Positive.c}"></span>
        <hr>
        <div class="row justify-content-md-center">

            <div class="col-md-6">
                <!-- Material form contact -->
                <form action="/category/submit" method="post" th:object="${book}">

                    <!-- Material input text -->
                    <div class="md-form">
                        <i class="fa fa-th prefix grey-text"></i>
                        <input type="text" th:field="*{name}" id="materialFormContactNameEx" class="form-control">
                        <label for="materialFormContactNameEx" th:text="#{category}">Category Name</label>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" value="Submit" class="btn btn-so"><i class="fa fa-save pr-1"></i> <span th:text="#{save}"></span>
                        </button>
                    </div>
                </form>
                <!-- Material form contact -->

            </div>
        </div>
    </div>
    <pre>









    </pre>


</main>
</body>


</html>